* {
  margin: 0;
  padding: 0;
  line-height: 2;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

button {
  padding: 0.6rem 2.5rem;
  border-radius: 1rem;
  border-style: none;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  color: white;
  font-size: 1rem;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

p {
  font-size: 1.2rem;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
